{#
  Nunchuk template (image right, text left)
  Usage:
    {% from "components/nunchuk-right.njk" import nunchuk_right %}
    {{ nunchuk_right('/assets/example.png', 'Alt text', 'Caption HTML or text') }}

  Parameters:
    - src: image path
    - alt: image alt text
    - caption: caption text (HTML allowed)
    - image_class: additional classes for the image
#}

{% macro nunchuk_right(src, alt, caption, image_class='') -%}
<div class="nunchuk nunchuk--image-right">
  <img class="nunchuk__image {{ image_class }}" src="{{ src }}" alt="{{ alt }}">
  <div class="nunchuk__content">
    <p class="nunchuk__text">{{ caption | safe }}</p>
  </div>
</div>
{%- endmacro %}
