{% macro phone_image(row) -%}
  {%- if row.link %}
    <a href="{{ row.link }}" target="_blank" rel="noopener noreferrer">
      <img class="phone vertical {{ row.image_class }}" src="{{ row.image }}" alt="{{ row.alt }}">
    </a>
  {%- else %}
    <img class="phone vertical {{ row.image_class }}" src="{{ row.image }}" alt="{{ row.alt }}">
  {%- endif %}
{%- endmacro %}

{% macro phone_row(row) -%}
<div class="phone-row {{ row.side }}">
  {%- if row.side == 'left' %}
    {{- phone_image(row) }}
    <p class="caption">{{ row.caption | safe }}</p>
  {%- else %}
    <p class="caption">{{ row.caption | safe }}</p>
    {{- phone_image(row) }}
  {%- endif %}
</div>
{%- endmacro %}
